/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins',
    sans-serif;
}
/* ------------------------common style----------------------- */
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
/* -------------------------nav style------------------------- */
.nav_bar{
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
    margin-bottom: 145px;
}
.nav_left h2{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}
.nav_right li{
    display: inline;
    margin-right: 34px;
    list-style: none;   
}
.nav_right a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}
.nav_right .fa-search{
    font-size: 24px;
}
.nav_right .fa-cart-plus{
    font-size: 36px;
}
/* ------------------------------banner style-------------------------- */
.banner_area{
    display: flex;
}
.banner_left{
    display: flex;
    flex: 1;
}
.banner_heading h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner_heading p{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
    margin-bottom: 25px;
}
.preebook_btn {
    text-decoration: none;
    background-color: #1D1B1B;
    color: #EC4D37;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 35px;  
}
.fa-arrow-right {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
.banner_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_right img{
    width: 70%;
}